/*begin reset css*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 12px;
    overflow-y: scroll;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: "";
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
a {
    text-decoration: none;
}
a:active,
a:hover,
*:focus {
    outline: 0;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer;
}
html, body {
    height: 100%;
    min-height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}
/*end reset css*/

body {
    background-color: #f6f9fb;
}

.container {
    height: 100%;
    min-width: 320px;
    max-width: 1170px;
    width: 100%;
    padding: 0 20px;
    margin: 0 auto;
    box-sizing: border-box;
    position: relative;
    /* text-align: center;
    font-size: 0; */
}

.text {
    padding-top: 70px;
    max-width: 480px;
    margin: 0 auto;
    text-align: center;
    line-height: 1.3;
}

.text h1 {
    color: #6984b4;
    font-family: 'Roboto Light', sans-serif;
    font-size: 36px;
    margin-bottom: 50px;
}

.text p {
    color: #343d42;
    font-family: 'Open Sans Light', sans-serif;
    font-size: 22px;
}

.buttons {
    padding-top: 50px;
    margin-bottom: 260px;
}

.button {
    width: 158px;
    height: 158px;
    border-radius: 50%;
    background-color: #fff;
    box-shadow: 0 8px 20px rgba(0, 0, 0, .1);
    position: relative;
    display: block;
    margin: 0 auto;
    transition: background-color .35s ease-out, transform .45s ease-out;
    -webkit-transition: background-color .35s ease-out, -webkit-transform .45s ease-out;
}

.logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
}

.button-social {
    width: 80px;
    height: 80px;
}
.button-social path,
.button-social circle {
    transition: fill .35s ease-out;
    -webkit-transition: fill .35s ease-out;
}
.button-social:hover path,
.button-social:hover circle {
    fill: #fff;
}

.button-dafree {
    z-index: 10;
}
.button-dafree:hover {
    transform: scale(.9);
}

.button-vk {
    margin-top: -119px;
}
.button-vk:hover {
    background-color: #436eab;
}
.button-vk.opened {
    transform: translate(410px, -270px);
    -webkit-transform: translate(325px, -90px);
}

.button-yt {
    margin-top: -80px;
}
.button-yt:hover {
    background-color: #f61c0d;
}
.button-yt.opened {
    transform: translate(325px, -90px);
    -webkit-transform: translate(325px, -90px);
}

.button-tbr {
    margin-top: -80px;
}
.button-tbr:hover {
    background-color: #2a445d;
}
.button-tbr.opened {
    transform: translate(405px, 25px);
    -webkit-transform: translate(405px, 25px);
}

.button-inst {
    margin-top: -80px;
}
.button-inst:hover {
    background-color: #d77f43;
}
.button-inst.opened {
    transform: translate(235px, 130px);
    -webkit-transform: translate(235px, 130px);
}

.button-fb {
    margin-top: -80px;
}
.button-fb:hover {
    background-color: #385c8e;
}
.button-fb.opened {
    transform: translateY(230px);
    -webkit-transform: translateY(230px);
}

.button-go {
    margin-top: -80px;
}
.button-go:hover {
    background-color: #f34a38;
}
.button-go.opened {
    transform: translate(-195px, 170px);
    -webkit-transform: translate(-195px, 170px);
}

.button-tw {
    margin-top: -80px;
}
.button-tw:hover {
    background-color: #76a9ea;
}
.button-tw.opened {
    transform: translate(-430px, 110px);
    -webkit-transform: translate(-430px, 110px);
}

.button-fl {
    margin-top: -80px;
}
.button-fl:hover {
    background-color: #ff007e;
}
.button-fl.opened {
    transform: translate(-340px, -10px);
    -webkit-transform: translate(-340px, -10px);
}

.button-bl {
    margin-top: -80px;
}
.button-bl:hover {
    background-color: #e49429;
}
.button-bl.opened {
    transform: translate(-410px, -245px);
    -webkit-transform: translate(-410px, -245px);
}

/* media */

@media all and (min-width: 480px) and (max-width: 1024px) {
    .button-bl.opened {
        transform: translate(-130px, -75px);
        -webkit-transform: translate(-130px, -75px);
    }
    .button-fl.opened {
        transform: translate(-155px, 30px);
        -webkit-transform: translate(-155px, 30px);
    }
    .button-tw.opened {
        transform: translate(-95px, 105px);
        -webkit-transform: translate(-95px, 105px);
    }
    .button-go.opened {
        transform: translate(-175px, 160px);
        -webkit-transform: translate(-175px, 160px);
    }
    .button-fb.opened {
        transform: translateY(130px);
        -webkit-transform: translateY(130px);
    }
    .button-inst.opened {
        transform: translate(95px, 105px);
        -webkit-transform: translate(95px, 105px);
    }
    .button-tbr.opened {
        transform: translate(175px, 160px);
        -webkit-transform: translate(175px, 160px);
    }
    .button-yt.opened {
        transform: translate(130px, -75px);
        -webkit-transform: translate(130px, -75px);
    }
    .button-vk.opened {
        transform: translate(155px, 30px);
        -webkit-transform: translate(155px, 30px);
    } 
}

@media all and (max-width: 480px) {
    .text {
        padding-top: 50px;
    }
    .text h1 {
        margin-bottom: 40px;
    }
    .buttons {
        padding-top: 90px;
    }
    .button-bl.opened {
        transform: translate(-95px, -75px);
        -webkit-transform: translate(-95px, -75px);
    }
    .button-fl.opened {
        transform: translate(-95px, 75px);
        -webkit-transform: translate(-95px, 75px);
    }
    .button-tw.opened {
        transform: translateY(219px);
        -webkit-transform: translateY(219px);
    }
    .button-go.opened {
        transform: translate(-85px, 175px);
        -webkit-transform: translate(-85px, 175px);
    }
    .button-fb.opened {
        transform: translateY(119px);
        -webkit-transform: translateY(119px);
    }
    .button-inst.opened {
        transform: translate(85px, 175px);
        -webkit-transform: translate(85px, 175px);
    }
    .button-tbr.opened {
        transform: translate(95px, 75px);
        -webkit-transform: translate(95px, 75px);
    }
    .button-yt.opened {
        transform: translateY(-119px);
        -webkit-transform: translateY(-119px);
    }
    .button-vk.opened {
        transform: translate(95px, -75px);
        -webkit-transform: translate(95px, -75px);
    }
}

@media all and (max-width: 375px) {
    .text {
        padding-top: 30px;
        line-height: 1.2;
    }
    .text h1 {
        font-size: 32px;
        margin-bottom: 25px;
    }
    .button-dafree:hover {
        transform: scale(.8);
    }
}
